body {
  font-family: "Helvetica Neue";
  color: #141212;
  font-size: 16px;

}

/* styles for nav*/
.mobile {
  display: none;
}
.top-nav {
  background-color: #200942;
  margin: 0 -15px;
}
nav {
  height: 64px;
  background-color: #200942;

}
ul li {
  list-style-type: none;
  display: inline-block;
  padding: 16px;
  color: #bab6c0;

}
img.logo{
  color:#bab6c0;
  width: 20px;
}

ul li a {
  color: #bab6c0;
  text-decoration: none;
}

ul li:nth-child(1n+3){
  float: right;
}

.colmar {
  height: 32px;
  letter-spacing: 2px;
  color: silver;
  font-size: 30px;
  text-decoration: none;
}

#academy {
  font-weight: 150;
  letter-spacing: 2.5px;
}

span.bold {
  font-weight:700;
  color: #bab6c0;
}

/*styles for banner*/

img.banner {
  width: 60%;
  margin: 32px 24px;
}


.banner_text {
  width: 450px;
}

.jumbotron {
  background-color: #bab6c0;
  display: flex;
  align-items: center;
  color: #200942;

}

h1.learn, h2.study {
  font-size: 35px;
  letter-spacing: 1.5px;
  font-weight: bold;

}

.lorem {
  margin-top: 20px;
  font-size: 25px;
  letter-spacing: 1.5px;
  line-height: 40px;
}

.start {
  height: 50px;
  background-color: #141212;
  color: #bab6c0;
  border-radius: 5px;
  text-align: center;
  padding-top: 25px;
  font-size: 25px;
}

/* css styles for section2*/

.flex {
  display: flex;
  background-color: #F7F9EC;
  /*flex-direction: column;*/
}

img.banner2 {
  width: 100%;
  margin-bottom: 32px;

}
.subsection2 {
  width: 60%;
  margin: 32px 24px 32px 24px;
}


p.block,.strategist {
  letter-spacing: 1.25px;
  line-height: 27px;
  color: #9EAE45;
  margin-top: 24px;
}

.subsection3 {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 32px 0px 32px 16px;
  border-left: 1px solid #b4a9475e;

}
.campus, .orientation, .guest {
  width: 35%;
  height: 35%;
}
#nopad {
  padding-top: 0px;
  border-bottom: 5px solid #b4a9475e;
}

.event{
  font-weight: 500;
  letter-spacing: 1.25px;
  color: #505E04;
  font-size:20px;
}

.dates {
  margin: 8px 0px;
  color: #9EAE45;
}

#keynote {
  line-height: 25px;
}
.flexi {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 16px;
}

h2.study {
  color: #505E04;
}

.date_time {
  margin: 20px;
}

#color {
  background-color: #b4a9475e;
}
/*section3 styles*/

#start {
  letter-spacing: 2px;
  line-height: 60px;
  font-size: 39px;
  color: #200942;
  font-weight: 500;
  margin-bottom: 32px;
  text-align: center;
  padding-top: 32px;
}
.courses {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 72px;
  margin-right: 72px;
}

.section3, h2#start{
  background-color: #bab6c0;

}

.software, .computer, .data, .design, .business, .marketing {
  background-color:  white;
}

.data, .business, .design,.software, .computer, .marketing{
  width: 30%;
  height: auto;

}

h4, h5, .a_course {
  padding-left: 16px;
  color:slategrey;
  letter-spacing: 1.2px;
  font-weight: lighter;
}

h5 {
  margin-top: 8px;
}

h4 {
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 1.25rem;
  line-height: 20px;
}

.a_course {
  margin-top: 8px;
  margin-bottom: 24px;
  padding-right: 16px;
  line-height: 20px;
}

img.engg, img.comp, img.design, img.data, img.marketing, img.business {
  width: 100%;
  height: auto;
  margin: 0px;
}
.data, .business, .marketing {
  margin: 32px 0px;
}


/*section4*/

#thesis {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: black;
  color: white;
  letter-spacing: 2px;
  line-height: 60px;
  font-size: 33px;
  text-align: center;
}

.section4 {
  background-color: black;
  display: flex;
  color: #c7c2c2;
}

.video {
  margin: 0px 24px;
  width: 60%;
}

video {
  width: 100%;
}

.row1 {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.subsection4 {
  display: flex;
  align-items: center;
  align-content: center;

}
.prototype {
  width: 65%;
}

#fisma {
  background-color: lightgrey;
}
.thesis, .n_t {
  margin: 16px;
  width: 35%;
  height: auto;
}

h4.fisma {
  font-weight: 500;
  margin-top: 16px;
  font-size: 1.25rem;
  line-height: 30px;
  padding-left: 0px;
  color: #c7c2c2;
}

#study, #block {
  color: #c7c2c2;
}

#study {
  margin-top: 24px;
  margin-bottom: 8px;
  font-weight: 500;
}

#block {
  margin-bottom: 32px;
}

p.text {
  margin: 8px 0px;
  color: #c7c2c2;
  font-size: 20px;
  line-height: 25px;
  padding-right: 20px;
}

#designer {
  color: slategrey;
}

footer {
  background-color: white;
  height: 60px;
}
.copyright {
  margin-left: 24px;
  margin-top: 16px;
  color: slategrey;
  font-size: 12px;
}

span {
  float: right;
  margin-right: 24px;
}

.term {
  padding-right: 15px;
  clear: both;
}
